.container {
	max-width: 1536px;
	margin: 0 auto;
}

.menu-btn {
	width: 30%;
	border-radius: 9px !important;
	height: 55px !important;
	background: #C5EDB3 !important;
	border: none !important;
}
.navbar-end a {
	color: #1DD100;
}
.btn.menu-btn i {
	margin-top: 8px;
}