.container {
	max-width: 1536px;
	margin: 0 auto;
}
/* Header */
.menu-btn {
	width: 30%;
	border-radius: 9px !important;
	height: 55px !important;
	background: #C5EDB3 !important;
	border: none !important;
}
.navbar-end a {
	color: #1DD100;
}
.btn.menu-btn i {
	margin-top: 8px;
}


/* banner */
.banner-img img {
	width: 100%;
}
.banner-area-content h1 {
	font-size: 63px;
	font-weight: bold;
}
.banner-area-content h2 {
	font-size: 63px;
	font-weight: bold;
	color: #1DD100;
}
.banner-area-content p {
	font-size: 18px;
	font-weight: normal;
}
.Banner-btn {
	border-radius: 9px !important;
	background: #1DD100 !important;
	border: none !important;
    width: 15%;
    font-weight: bold;
}
.Banner-btn {
	border-radius: 9px !important;
	background: #1DD100 !important;
	border: none !important;
	width: 10%;
	font-weight: bold;
	height: 53%;
}
.btn.Banner-btn span {
	font-size: 18px;
	font-weight: bold;
}
.banner-area-content {
	text-align: center;
}
.banner-area-content button {
	margin: 35px;
}
.banner-area-content p {
	padding: 0 30%;
	margin-top: 20px;
}
/* .banner-area-content {
	position: absolute;
	top: 20%;
}
.banner-area {
	position: relative;
}
.banner-area-content p {
	padding: 0 22%;
	margin-top: 20px;
	color: #fff;
} */
/* .banner-area {
    background-image: url("/images/banner.png"); 
    background-repeat: no-repeat;
    width: 100% !important;
} */


.banner-area {
	position: relative;
  }                                                                                                                                                                                                                          